<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">

    <title>Stealing Fire | A Journey Into Accelerated Learning</title>
  </head>
  <body>
    <header class="header">
      <a href="/"><h1 class="header__title">
        <span class="char1">S</span>
        <span class="char2">t</span>
        <span class="char3">e</span>
        <span class="char4">a</span>
        <span class="char5">l</span>
        <span class="char6">i</span>
        <span class="char7">n</span>
        <span class="char8">g</span>
        <span class="char9"><br /></span>
        <span class="char10">F</span>
        <span class="char11">i</span>
        <span class="char12">r</span>
        <span class="char13">e</span>
      </h1></a>

      <div class="container">
        <video playsinline autoplay muted loop poster="" id="bgvid" class="header__video">
          <source src="/assets/video.mp4" type="video/mp4">
        </video>
      </div>
    </header>


    {{ content | safe }}


    <footer class="footer">
      <div class="container">
        Stealing Fire is bought to you by <a href="www.spsb.org">SPSB</a> © 2019 <br />
        Site by <a href="mailto:fardeem.munir@erubai.com">Fardeem Munir</a>
      </div>
    </footer>

  </body>
</html>
