.s-lead {
  font-size: 1.5rem;

  > .container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 800px) {
      padding: 0;
      flex-direction: row;
    }
  }

  &__desc {
    font-size: 1.8rem;
    flex: 1;
    padding-right: 1rem;
  }

  &__list {
    flex: 1;
    margin-top: 0;
  }

}
