.s-lead {
  font-size: 1.5rem;

  > .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 800px) {
      padding: 0;
      flex-direction: row;
    }
  }

  &__desc {
    font-size: 1.8rem;
    flex: 1;
    padding-right: 1rem;
  }

  &__list {
    flex: 1;
    margin-top: 0;
  }

  &__nav {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.8em;

    a {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em;
      opacity: 0.8;
      transition: opacity 0.1s;
    }

    & a:hover {
      opacity: 1;
    }
  }
}
