$pink: #c93b9d;
$black: #142e3b;

@import "./base";
@import "./lists";
@import "./header";
@import "./lead";
@import "./buy";
@import "./group";
@import "./teachers";
@import "./faq";
@import "./footer";

.sponsors {
  display: flex;
  justify-content: space-evenly;

  img {
    display: block;
    max-width: 250px;
    max-height: 130px;
    width: auto;
    height: auto;
  }
}

.amber-sponsor {
  background: white;
  padding: 1em;
  border-radius: 10px;
}
